* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  .auth-section {
    min-width: 85vw;
  }
}

@keyframes game-over-animation {
  0% {background-position: 0% 0%; border: lightblue solid 5px;}
  100% {background-position: 100% 100%; border: black solid 5px;}
}

@keyframes game-over-text {
  0% {font-size: 2rem; color: maroon;}
  100% {font-size: 5rem; color: lightblue;}
}

@keyframes user-info {
  0% {color: black; font-size: 1rem; padding: 0 1rem;}
  100% {color: white; font-size: 1.15rem; padding: 0 .9rem}
}

.App {
  min-height: 100vh;
  overflow: hidden;
  background-color: #282c34;
}

.GameContainer {
  max-height: 75vh;
  min-width: 100vw;
  color: #282c34;
  overflow: hidden;
}

.Instructions {
  font-size: .8rem;
  text-align: center;
  color: white;
  padding: 1rem;
}

.User {
  display: flex;
  color: black;
  font-size: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
}

.GameStats {
  position: absolute;
  right: 1rem;;
  bottom: 0;
  color: black;
  font-size: 3.5rem;
  max-height: 8rem;
}

.FormBox {
  background-color: rgb(50, 65, 87);
  max-width: 900px;
  margin: 6rem auto;
  color: white;
}

.LoggedIn {
  display: flex;
  max-height: 12vh;
}

.titleLogo {
  padding-top: 2vh;
  display: flex;
  width: 100%;
}

.LoggedOut {
  display: block;
  padding-top: 4vh;
}

.loggedOutLogo {
  display: flex;
  max-height: 20vh;
}

.logo {
  object-fit: contain;  /* maintains proportions of image */
  margin: 0 auto;
  padding-right: 3.5rem;
}

.auth-section p {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 3rem 0 2rem 1rem;
  margin-bottom: 1rem;
  color: white;
}

.InputForm {
  padding-bottom: 2rem;
  margin: 0rem 2rem;
  max-width: '600px';
}

.PausedText {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 40%;
  text-align: center;
  font-size: 6rem;
  opacity: 50%;
  text-shadow: .3rem .3rem .5rem maroon;
}

.game-over-text {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 40%;
  text-align: center;
  color: transparent;
  animation: game-over-text 1.5s ease forwards;
  animation-delay: 1s;
}

.game-over-user-info {
  animation: user-info 1.5s ease forwards;
}

input {
  background-color: rgb(216, 216, 216);
  padding: .3rem;
  margin: .5rem;
}

input[type=submit] {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: .5rem 1rem;
  margin: 1rem 0 0 1rem;
  background-color: transparent;
  text-align: center;
  border-radius: 6px;
  border: .2rem solid lightblue;
}

input[type=submit]:hover {
  background-color: white;
  color: rgb(50, 65, 87);
  border: .2rem solid white;
  cursor: pointer;
}

input:focus {
  border: .2rem solid black;
  background-color: white;
}

input:hover {
  background-color: white;
}

label {
  padding: 1rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  padding: .5rem .8rem;
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

a:link, a:visited {
  background-color: transparent;
  border: .2rem solid lightblue;
  border-radius: 6px;
  color: white;
}

a:hover {
  color: black;
  background-color: lightblue;
}





